<div class="spacer"></div>
<section class="container hidden">
    <a href="#pagereturn"><img src="images\arrow.png" id="logo"></a>
</section>
<section>
    <div class="footer">
        <div class="boxfooter">
            <h4 class="footertext">About</h4>
            <h4 class="footertext">Whitepaper</h4>
            <h4 class="footertext">Platform</h4>
            <h4 class="footertext">Sign-Up</h4>
            <h4 class="footertext">FAQ</h4>
            <h4 class="footertext">Login</h4>
        </div>
        <div class="boxfooter">

        </div>
        <div class="boxfooter">
            <h4 class="footertext">Support</h4>
            <h4 class="footertext">Get in Touch</h4>
            <h4 class="footertext">Careers</h4>
            <h4 class="footertext">Developer Resources</h4>
            <h4 class="footertext">XUMM Wallet</h4>
            <h4 class="footertext">XUMM Wallet</h4>
        </div>
    </div>
</section>