<section class="hero-image" id="pagereturn">
    <div class="spacerdouble">

    </div>
    <h4 class="hidden title textcenter">volera</h4>
</section>
<section class="nav">
    <div class="navbox hidden">
        <a href="/"><h3>Platform</h3></a>
    </div>
    <div class="navbox hidden">
        <a href="about"><h3>About</h3></a>
    </div>
    <div class="navbox hidden">
        <a href="roadmap"><h3>Roadmap</h3></a>
    </div>
    <div class="navbox hidden">
        <a href="signup"><h3>Sign-Up</h3></a>
    </div>
</section>