<nav>
    <ul style="color: azure; list-style: none; vertical-align: middle;display:flex;justify-content: center;">
        <li style="margin:40px;"><a href="/development/signin" style="color:azure;"><p>Sign-in</p></a></li>
        <li style="margin:40px;"><a href="/development/txhistory" style="color:azure;"><p>Transaction History</p></a></li>
        <li style="margin:40px;"><p style="color:azure;">Transaction Viewer</p></li>
        <li style="margin:40px;"><a href="/development/wallet" style="color:azure;"><p>Wallet</p></a></li>
        <li style="margin:40px;"><p style="color:azure;">Account Creation</p></li>
        <li style="margin:40px;"><p style="color:azure;">Escrow Creation</p></li>   
    </ul>
</nav>