<nav>
    <ul style="color: azure; list-style: none; vertical-align: middle;">
        <li>Wallet</li>
        <li>Transaction History</li>
        <li><a href="/development/signin">Sign-in</a></li>
    </ul>
</nav>