<!DOCTYPE html>
<html lang="en">
<%- include('./partials/header.ejs') %>
<body>
<%- include('./partials/nav.ejs') %>

<p><b>404 Error</b></p>
<p>Sorry, webpage could not be found!</p>

<%- include('./partials/footer.ejs') %>
</body>
</html>