<!DOCTYPE html>
<html lang="en">
<%- include('./about/partials/header.ejs') %>
<body>
<%- include('./about/partials/nav.ejs') %>


<div class="splashimage textcenter" id="azure">
<p><b>404 Error</b></p>
<p>Sorry, webpage could not be found!</p>
</div>
<%- include('./about/partials/footer.ejs') %>
</body>
</html>