<!DOCTYPE html>
<html lang="en">

<%- include('./partials/header.ejs') %>
<body>>
<%- include('./partials/nav.ejs') %>

<div class="spacerdouble" id="azure"></div>
<section class="boxheader" id="azure">
    <div class="box">
        <h2 style="font-size: 3rem; color: #222323;">Working Towards a Low-Friction Future</h2>
    </div>
    <div class="box">
        <p>A new way to hire and retain freelancers in an ethical and sustainable way with the lowest possible platform fees.
            Utilizing a blockchain solution with low environmental impact, and a proven decade of 24/7 payments.<br /><br />
            Current platforms charge from 10 to 20% of freelancer’s payout, and an additional 5% to the listing enterprises.
            Volera is a hyper-competitive labor marketplace with the ability conduct fully escrowed payments with a
            very low flat 5% freelancer fee, and 0% enterprise listing fee. Making Volera one of the lowest fee structures available in an expanding industry.<br><br></p>
    </div>
</section>
<section class="splashimage" style="background:azure;">
    <h1 class="abouttitle textcenter">How it Works</h1>
    <div class="imgwrapper">
        <div class="box" style="padding:0px;margin:3rem;">
            <h2 class="abouttitle textcenter">1. Create Job</h2> <p>Funds are verified and a contract, job card, and escrow containing an unlocking key are created.</p>
        </div>
        <div class="box" style="padding:0px;margin:3rem;">
            <h2 class="abouttitle textcenter">2. List Job</h2> <p>Job is listed on Volera where it is viewable to Users. Include many details about the work.</p>
        </div>
        <div class="box" style="padding:0px;margin:3rem;">
            <h2 class="abouttitle textcenter">3. Apply to Job</h2> <p>Freelancer sends account as an application to the job.</p>
        </div>
        <div class="box" style="padding:0px;margin:3rem;">
            <h2 class="abouttitle textcenter">4. Application</h2> <p>Once a bidder is accepted, the escrow is created.</p>
            </div>
    </div>
    <div class="imgwrapper">
            <div class="box" style="padding:0px;margin:3rem;">
                <h2 class="abouttitle textcenter">5. Work Completed</h2> <p>Freelancer completes the work and is verified by the Enterprise.</p>
            </div>
            <div class="box" style="padding:0px;margin:3rem;">
                <h2 class="abouttitle textcenter">6. Key is Sent</h2> <p>Enterprise sends the key to the Freelancer.</p>
            </div>
            <div class="box" style="padding:0px;margin:3rem;">
                <h2 class="abouttitle textcenter">7. Funds Unlocked</h2> <p>Key unlocks the escrowed funds and are immediately deposited into Freelancer's wallet and 5% is transferred to Volera.</p>
            </div>
    </div>
</section>
<section class="boxheader wave4">
    <div class="box">
        <h2 style="font-size:3rem; color:azure;">Enterprise Job Listings<br /><br /> Are Free</h2>
    </div>
    <div class="box">
        <p style="color:azure;">Provide opportunites to freelancers across the platform for free. Create your contract, escrow your funds, and hire the right person for the job. For free, and pay as soon as the work is completed.</p>
    </div>
</section>
<section class="splashimage" id="azure">
    <h2 class="abouttitle textcenter" id="aboutlist" onclick="toggleDisplay('techabout')">Technology &#10549;</h2>
    <div id="techabout" style="display: none;">
        <div class="box" id="azure">
            <div class="spacer">
            </div>
            <div class="boxheader" id="azure">
                <div class="box">
                    <img src="Library\XRPSymbol.png" class="hidden" id="logo">
                </div>
                <div class="box">
                    <h2 class="textcenter fadehide">The XRP Ledger</h2>
                    <p>Using distributed ledger technology, the XRP Ledger allows instant and seamless payments between users.
                        On Volera Platform the Escrow feature allows secure and promised movement of payments between clients and freelancers.<br><br>
                        Learn more about the XRP Ledger at xrpl.org</p>
                </div>
                <div class="box">
                    <h2 class="textcenter fadehide">Escrow Payments</h2>
                    <p>
                        As a native feature of the XRPL funds can be stored in a temporary locked account that the hiring enterprise retains a key to. Once the job is confirmed to be completed, they send the key to the freelancer to release the escrowed funds.
                        Never share this key with anyone that you don't want to receive the funds.
                    </p>
                </div>
                <div class="box">
                    <h2 class="textcenter fadehide">Send Payments</h2>
                    <p>Send funds directly to other users for free anytime instantly. Can be used for jobs that do not require the security of escrow.</p>
                </div>
                <div class="box">
                    <h2 class="textcenter fadehide">Wallet</h2>
                    <p>Using the XUMM Wallet you can keep track of your wallet activity, all payments in and out of your account. Total your income for the year, convert to other currencies, self-custody and secure your funds.</p>
                </div>
                <div class="box">
                    <h2 class="textcenter fadehide">Check Balance</h2>
                    <p>Immediately see when funds are deposited into your account, keep track of funds from anywhere with your mobile device.</p>
                </div>
            </div>
            <a href="https://xrpl.org/xrp-ledger-overview.html"><h4 class="textcenter wave4">Learn More About the XRP Ledger</h4></a>
        </div>
    </div>
    <h2 class="abouttitle textcenter" id="aboutlist" onclick="toggleDisplay('userabout')">Users &#10549;</h2>
    <div id="userabout" style="display: none;">
        <div class="box" id="azure">
           
        </div>
        <div class="boxheader">
            <div class="box">
                <h2 class="fadehide textcenter">Freelancers</h2>
                <p>Showcase your best projects and techinical abilites. Keep your rates the same as any other platform and receive more of the total payout with a flat 5% fee across all jobs. That means more money in your pocket. Work contracts as an individual or as an organization.<br><br></p>
            </div>
            <div class="box">
                <h2 class="fadehide textcenter">Enterprises</h2>
                <p>A frictionless experience so startups and fortune 500 companies alike can easily integrate Volera into their hiring avenues. All for free.<br><br> </p>
            </div>
        </div>
    </div>
    <h2 class="abouttitle textcenter" id="aboutlist" onclick="toggleDisplay('walletabout')">Mobile Wallet &#10549;</h2>
    <div id="walletabout" style="display: none;">
        <div class="box" id="azure">
            
            <div class="boxheader">
                <div class="box">
                    <img src="Library\xumm-icon.png" id="logo">
                    <p>Required to fully utilize the Volera Platform. XUMM is the integrated wallet on Volera that allows the use of technical aspects of the underlying XRPL technology.<br><br>
                        Instant payments, User IDs, escrow, high-security, and self-custody. </p>
                    <a class="button link textcenter" href="https://xumm.app/">Learn More</a>
                </div>
                <div class="fadehide box" id="image">
                    <img src="Library\xummcell.png" id="xumm">
                </div>
            </div>
        </div>
    </div>
</section>
<section class="wave5 splashimage textcenter" style="height:100vh; justify-content:center; display:flex;">
    <a class="button link textcenter" href="/registration.html">Create Account</a>
   
    <a class="button link textcenter" href="/registration.html">Contact</a>
</section>

<%- include('./partials/footer.ejs') %>
</body>
</html>