<!DOCTYPE html>
<html lang="en">
<%- include('./partials/header.ejs') %>

  <body>
    <%- include('./partials/nav.ejs') %>


      <div class="splashimage textcenter" id="azure">

        <form action="/contact" method="POST">

          <label for="email">
            <h2 class="abouttitle">Email</h2>
          </label>
          <input type="text" id="contact_email" name="contact_email" placeholder="Email..">

          <label for="lname">
            <h2 class="abouttitle">Subject</h2>
          </label>
          <input type="text" id="contact_subject" name="contact_subject" placeholder="Subject..">

          <label for="subject">
            <h2 class="abouttitle">Form</h2>
          </label>
          <input type="textarea" id="contact_form" name="contact_form" wrap="hard">

          <input type="submit" value="Submit">

        </form>

      </div>
      <%- include('./partials/footer.ejs') %>
  </body>

</html>