<!DOCTYPE html>
<html lang="en">

<%- include('./about/partials/header.ejs') %>

    <body>

        <section class="register wave4">
            <div class="spacer textcenter">
                <h4 class="title">volera</h4>
            </div>

            <div class="spacerdouble"></div>
            <div class="boxheader" style="background:none; vertical-align: middle;">
                <a href="/platform">
                    <div class="box"
                        style="border: solid 2px #00ff9b; border-radius: 25px; margin:50px; background:azure;">
                        <h2 class="textcenter fadehide">Launch Platform (Under Construction)</h2>
                        <p style="color:#222323">Dive into Volera's freelance platform and experience frictionless
                            transactions built on top
                            of XUMM and the XRP ledger leaving you with only a 5% fee.</p>
                    </div>
                </a>
                <a href="/about">
                    <div class="box"
                        style="border: solid 2px #00ff9b; border-radius: 25px; margin:50px; background:azure;">
                        <h2 class="textcenter fadehide">The About</h2>
                        <p style="color:#222323">Explore what Volera is building, and the technology involved behind it.
                            Take a look at the
                            projected roadmap, or sign up for milestone notifications and early-access.</p>
                    </div>
                </a>
            </div>


            <div style="padding: 100px; color:azure;">
                <a href="/development">
                    <p class="textcenter" style="color: white;">Development</p>
                </a>
            </div>

        </section>
    </body>

</html>