<!DOCTYPE html>
<html lang="en">
<%- include('./partials/header.ejs') %>
<body>
<%- include('./partials/nav.ejs') %>

<section class="splashimage" id="azure">
    <h1 class="fadehide title textcenter">2023</h1>
    <div class="spacer"></div>
    <h3 class="fadehide textcenter bodytitle">March</h3>
    <h3 class="fadehide textcenter">Genesis</h3>
    <p>&#9989;Static-Site Launch</p>
    <p>&#9989;Platform Prototype</p>
    <p>&#9989;Registration for Early-Access</p>
    <p>&#10060;XUMM API and SDK Applications</p>
    <p>&#9989;Database Creation</p>
    <div class="spacer"></div>
    <h3 class="fadehide textcenter bodytitle">May</h3>
    <h3 class="fadehide textcenter">Onboarding</h3>
    <p>&#10060;User Profile Creation</p>
    <p>&#10060;Proof of Concept Test-Net</p>
    <div class="spacer"></div>
    <h3 class="fadehide textcenter bodytitle">June</h3>
    <h3 class="fadehide textcenter">XUMM Integration</h3>
    <p>&#10060;Wallet to User Connections</p>
    <p>&#10060;Legacy Escrow Wallet Creation</p>
    <p>&#10060;Xumm Integration and Debugging</p>
    <div class="spacer"></div>
    <h3 class="fadehide textcenter bodytitle">July</h3>
    <h3 class="fadehide textcenter">UX Design</h3>
    <p>&#10060;Job Card and Initial Category Creations</p>
    <p>&#10060;Freelancer Search Functions</p>
    <p>&#10060;Graphical User Interface</p>
    <div class="spacer"></div>
    <h3 class="fadehide textcenter bodytitle">August</h3>
    <h3 class="fadehide textcenter">Code Audits and Review</h3>
    <p>&#10060;Code Audits</p>
    <p>&#10060;Required License Applications</p>
    <div class="spacer"></div>
    <h3 class="fadehide textcenter bodytitle">September</h3>
    <h3 class="fadehide textcenter">Security Analysis</h3>
    <p>&#10060;Security Audits</p>
    <p>&#10060;Database Vulnerability Testing</p>
    <p>&#10060;Code Review Changes</p>
    <div class="spacer"></div>
    <h3 class="fadehide textcenter bodytitle">October</h3>
    <h3 class="fadehide textcenter">Early Access</h3>
    <p>&#10060;Security Review Changes</p>
    <p>&#10060;Release Early Access Testing</p>
    <p>&#10060;User Feedback Changes</p>
    <div class="spacer"></div>
    <h3 class="fadehide textcenter bodytitle">November</h3>
    <h3 class="fadehide textcenter">Launch Preparations</h3>
    <p>&#10060;Final Platform Changes</p>
    <p>&#10060;Launch Day Marketing</p>
    <div class="spacer"></div>
    <h3 class="fadehide textcenter bodytitle">December</h3>
    <h3 class="fadehide textcenter">&#10060;Full Launch</h3>
</section>
<section class="signup wave5">
    <div class="spacerdouble">

    </div>
    <a class="button link textcenter" href="/signup.html">Create Account</a>
</section>

<%- include('./partials/footer.ejs') %>
</body>
</html>