<!DOCTYPE html>
<html lang="en">
<%- include('./partials/header.ejs') %>
<body>

<section class="register wave4 fadehide">
    <div class="spacer">

    </div>
    <div class="container">           
        <a href = "/"><h4 class="title">volera</h4></a>
    </div>

    <% if (userMessage.length > 0) { %>
        <div style="color: white; font-size: 40px; width: 50%; margin: auto; text-align: center; padding: 5px; border: 3px solid #00ff9b; border-radius: 30px;"><p><%- userMessage %></p>
        <a href = "/"><p style="color: white;"><b>Return Home</b></p></a>
        </div>
    <% } %>

    <form action = "/signup" method = "POST">
        <div class="container">
            <label for="fname"></label>
            <input type="text" id="first_name" placeholder="First Name" name="first_name" required>
            <label for="lname"></label>
            <input type="text" id="last_name" placeholder="Last Name" name="last_name" required>

            <label for="email"></label>
            <input type="text" id="email" placeholder="Email" name="email" required>              
        </div>
        <div class="container">
            <button type="reset">Clear</button>
            <button type="submit" value="Submit">Submit</button>               
        </div>
    </form>
    </div>
</section>


</body>
</html>
