html {
    scroll-behavior: smooth;
}

body {
    background-color: #222323;
    font-size: 100%;
    padding: 0px;
    margin: 0px;
    height: auto;
    overflow: overlay;
}

::-webkit-scrollbar {
    width: 10px;
}

::-webkit-scrollbar-track {
    border-radius: 10px;
}

::-webkit-scrollbar-thumb {
    background: #00ff9b;
    border-radius: 20px;
}

::-webkit-scrollbar-thumb:hover {
    background: #ff0064;
}

.platformbody {
    display: flex;
    padding: 0px;
    margin: 0px;
    max-height: 100vh;
}

#azure {
    background-image: linear-gradient(azure, azure)
}

#azuretext {
    color: azure;
}

h1 {
    font-family: "Anton", sans-serif;
    font-size: 1.5em;
    color: #222323;
    letter-spacing: 5px;
    position: relative;
    padding: 1rem;
    margin: 0px
}

#h1reverse {
    color: azure;
}

#backgroundreverse {
    background-color: azure;
}

h2 {
    font-family: "Roboto", serif;
    font-size: 3rem;
    font-weight: 900;
    color: #222323;
    margin: 0px;
    padding: 1rem;
}

h3 {
    font-family: "Anton", sans-serif;
    color: #222323;
    letter-spacing: 5px;
    font-size: 1.5em;
}

h4 {
    font-family: "Anton", sans-serif;
    font-size: 2rem;
    color: white;
    letter-spacing: 10px;
    pointer-events: none;
    padding: 1rem;
    margin: 0;
}

.title {
    font-size: 5rem;
    letter-spacing: 20px;
    padding-left: 1rem;
    line-height: normal;
}

.fronttitle {
    align-items: center;
    font-size: 2rem;
    color: #ff0064;
}

.frontnavbox {
    display: flex;
    justify-content: center;
    background-color: #222323;
    flex-direction: column;
    height: 100vh;
    width: 10vh;

}

.frontheader {
    display: flex;
    border-color: #00ff9b;
}

.frontnav {
    font-size: 1rem;
}

.frontbody {
    margin: 0px;
    height: 80vh;
    min-width: 50vh;
    max-width: 50vh;
    overflow-y: scroll;
    background-color: #222323;
    border-color: #00ff9b;
    border-radius: 5%;
    border: solid 3px;
    text-align: center;
}

.jobcard {
    padding: 5px;
    display: flex;
    border: solid 3px;
    border-color: #00ff9b;
    max-height: 50px;
    overflow-wrap: break-word;
}

.jobcard:hover {
    border: solid 3px;
    border-color: gold;
}

.bottomfooter {
    position: fixed;
    bottom: 0;
    width: 100%;
    display: flex;
    justify-content: center;

}

.footerobject {
    border: solid 3px;
    border-color: #00ff9b;
    border-radius: 80%;
    margin: 1rem;
}

.accountphoto {
    display: flex;
    margin: auto;
    border: solid 3px;
    border-color: #00ff9b;
    height: 300px;
    width: 300px;

}

.textcenter {
    text-align: center;
}

.bodytitle {
    font-size: 2rem;
    color: #00ff9b;
}

.abouttitle {
    font-size: 1.5rem;
    color: #222323;
}

#accent {
    color: #00ff9b;
}

#darkazure {
    background-color: #222323;
}

p {
    font-family: "Roboto", serif;
    font-weight: 200;
    font-size: 1rem;
    padding: 1rem;
    margin: auto;
    opacity: .6;
    max-width: 60vh;
}

.spacer {
    height: 10vh;
}

.spacerdouble {
    height: 20vh;
}

.contentfiller {
    display: flex;
    background-color: #222323;
    min-height: 15vh;
    padding: 1rem;
    justify-content: space-evenly;
    margin: auto;
}

.splashimage {
    background-color: #222323;
    justify-items: center;
    -webkit-background-size: cover;
    align-items: center;
    min-height: 30vh;
    padding: 2rem;
    margin: 0px;
}

#hex1 {
    background-image: url(/images/hex1.svg);
}

.imgwrapper {
    display: block;
}

#image2 {
    background-image: url("images/cracklebackground.png");
    background-color: #c4d0d0;
}

#image3 {
    background-image: url("images/backgroundcoverpattern.png");
}

#imagePOC {
    background-image: url("images/POC.png");
    display: block;
}

#techabout,
#userabout,
#walletabout {
    display: none;
}

#aboutlist {
    background-color: azure;
    border: solid 5px;
    border-color: azure;
    margin: 50px;
}

#aboutlist:hover {
    background-color: #00ff9b;
    transition-duration: 1s;
}

.wave2 {
    background-image: url(/images/wave2.svg);
    min-height: 50vh;
}

.wave3 {
    background-image: url(/images/wave3.svg);
}

.wave4 {
    background-image: url(/images/wave4.svg);
    background-size: cover;
}

.wave5 {
    background: url(/images/wave5.svg);
    background-size: cover;

}

.ctawave {
    background: url(/images/ctawave.svg);
    background-size: cover;
    min-height: 50vh;
}

.signup {
    min-height: 100vh;
    background-repeat: no-repeat;
    display: block;
}

.skyline {
    background-image: url(/images/skyline.svg);
    background-color: #222323;

}

.pinkwave {
    background-image: url(/images/pinkwave.svg);
    background-size: cover;
}


.button {
    display: flex;
    width: auto;
    margin: auto;
    background-color: #00ff9b;
    font-family: "Anton", sans-serif;
    font-size: 1rem;
    border-radius: 100px;
    padding: 1rem;
    opacity: 1;
    margin-top: 2rem;
    align-content: center;
    border: 0px;
}

a:link {

    text-decoration: none;
}

.link {
    background-color: #222323;
    color: #00ff9b;
    font-family: "Anton", sans-serif;
    font-size: 2rem;
    padding: 1rem;
    border-radius: 50px;
    margin: auto;
    text-wrap: avoid;
    width: 100px;
    justify-content: center;
}

.link:hover {
    background-color: #ff0064;
}

#logo {
    max-width: 200px;
    display: block;
    margin: auto;
    padding: 3rem;
}

#footerlogo {
    max-width: 100px;
}

#xumm {
    max-height: 300px;
}

#xrp {
    max-width: 200px;
    max-height: 150px;
    padding: 3rem;
}

#escrow {
    width: 75%;
    position: relative;
    height: auto;
}

.section {
    height: auto;
}

.hero-image {
    background: url(/images/wave2.svg);
    min-height: 70vh;
    background-size: cover;
    background-repeat: no-repeat;
}

.register {
    background-color: #222323;
    height: cover;
    justify-content: center;
}

.hero-text {
    font-family: "Anton", sans-serif;
    color: white;
    letter-spacing: 5px;
    text-align: left;
    position: absolute;
    top: 50%;
    left: 15%;
    transform: translate(-50%, -50%);
    font-size: 1.5rem;
    display: flex;
}

.navbox {
    display: flex;
    justify-content: center;
    align-items: center;
    column-width: auto;
    vertical-align: middle;
    height: 2vh;
    padding: 10px;
    font-size: .75rem;
}

.boxfooter {
    text-align: center;
}

.navbox:hover {
    background: linear-gradient(to top, azure, #00ff9b);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.nav {
    z-index: 1;
    position: sticky;
    top: 0;
    display: grid;
    grid-template-columns: repeat(auto-fill, 1fr);
    justify-items: center;
    margin: 0px;
    background-color: azure;
    height: 20vh;
}

.header {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
}

.boxheader {
    display: grid;
    grid-template-columns: repeat(auto-fill, 1fr);
    background-color: azure;
    justify-content: space-evenly;
}

.toppad {
    padding-top: 20vh;
    max-height: 10vh;
}

.box {
    line-height: normal;
    justify-content: center;
    min-height: 20vh;
    padding: 1rem;
}

.applyform {
    display: block;
    padding: 1rem;
    margin: auto;
    width: 40vh;
    background-color: azure;
    font-family: "Roboto", serif;
}

.container {
    height: auto;
    width: fit-content;
    margin: auto;
    text-align: center;
    display: block;
    justify-content: center;

}

.formcontainer {
    display: inline-flex;
    justify-items: space-between;
    margin: 1rem;
}

.formtitle {
    font-size: 2rem;
    font-family: "Roboto", serif;
    color: #222323;
    margin: .5rem;
}

input[type="checkbox" i] {
    background-color: white;
    cursor: default;
    box-sizing: border-box;
    margin: 15px;
}

input {
    font-family: "Roboto", serif;
    font-size: 1.5rem;
    min-height: 20px;
    margin-bottom: 20px;
}

textarea {
    display: block;
    padding: 1rem;
    border: 1px solid #222323;
    border-radius: 8px;
    box-sizing: border-box;
    padding: 20px;
    resize: vertical;
    height: 500px;
    width: 100%;
    margin-bottom: 20px;
    font-family: "Roboto", serif;
    font-size: 1.5rem;
}

input[type=text],
select {
    display: block;
    padding: 1rem;
    border: 1px solid #222323;
    border-radius: 8px;
    box-sizing: border-box;
    padding: 20px;
    resize: vertical;
    width: 100%;
}

input[type=password],
select {

    max-height: 50px;
    display: block;
    padding: 1rem;
    border: 1px solid #222323;
    border-radius: 8px;
    box-sizing: border-box;
    margin: 20px;
    resize: vertical;
}

input[type=submit] {
    background-color: #222323;
    font-family: "Roboto", serif;
    font-size: 2rem;
    font-weight: 1000;
    padding: 20px;
    color: azure;
    border: none;
    border-radius: 50px;
    cursor: pointer;
}

button[type=submit],
button[type=reset],
button[type=link] {
    background-color: #00ff9b;
    color: #222323;
    padding: 20px;
    margin: 50px;
    border-radius: 50px;
    font-family: "Roboto", serif;
    font-size: 2rem;
    width: 150px;
    height: auto;
    transition: background-color 1s ease-out;
}

button[type=submit]:hover,
button[type=reset]:hover,
button[type=link]:hover {
    background-color: #ff0064;
}

input[type=text]:focus,
input[type=password]:focus {
    background-color: #c4d0d0;
    outline: none;
}

.usermessage {
    color: #222323;
    width: fit-content;
    margin: auto;
    margin-top: 20px;
    margin-bottom: 20px;
    text-align: center;
    word-wrap: break-word;
    padding: 5px;
    border: 3px solid #222323;
    border-radius: 30px;
}

/* The message box is shown when the user clicks on the password field */
#message {
    border: 1px solid #222323;
    border-radius: 8px;
    box-sizing: border-box;
    display: none;
    background: white;
    color: #000;
    position: relative;
    padding: 0px;
    margin-top: 10px;
    width: auto;
    transition: 1s ease-out;
}

#message p {
    padding: 1rem;
    font-size: 1rem;
}

/* Add a green text color and a checkmark when the requirements are right */
.valid {
    color: #00ff9b;
}

.valid:before {
    position: relative;
    content: "Included";
    padding: .5rem;
}

/* Add a red text color and an "x" icon when the requirements are wrong */
.invalid {
    color: #ff0064;
}

.invalid:before {
    position: relative;
    content: "Missing";
    padding: 1rem;
}

.footer {
    background-color: #222323;
    min-height: 20vh;
    margin: 0px;
}

.footertext {
    font-family: "Roboto", serif;
    font-size: 1rem;
    letter-spacing: 2px;
    line-height: 10px;
    padding: 1.5rem;
}

.hiddenCopy {
    opacity: 1;
    transform: translateY(45px);
    transition: transform 0.6s, opacity 0.9s;
}

.showCopy {
    opacity: 0;
    transform: translateY(0);
    transition-delay: 0s;
}
.hidden {
    opacity: 0;
    transition: opacity 0.7s ease-in;
    filter: blur(15px);
}

.show {
    opacity: 1;
    transition: opacity 0.7s ease-in;
    filter: blur(0px);
}

@media only screen and (min-width: 1200px) {
    p {
        font-size: 1.5rem;
    }

    .nav {
        grid-template-columns: repeat(4, 1fr);
        height: 4vh;
    }

    .navbox {
        font-size: 1rem;
    }

    .splashimage {
        padding: 17rem;
    }

    .imgwrapper {
        display: flex;
    }

    .hero-image {
        background: url(/images/wave2.svg);
        background-size: cover;
        width: 100%;
        min-height: 95vh;
        text-align: center;
        background-repeat: no-repeat;
    }

    .boxheader {
        background-color: azure;
        background-size: cover;
        grid-template-columns: repeat(2, 1fr);
        justify-items: safe center;
    }

    .contentfiller {
        padding-left: 6rem;
        padding-right: 6rem;
    }

    .box {
        padding: 8rem;
    }

    .frontbody {
        margin-left: 2rem;
        align-self: center;
        background-color: #222323;
        border: solid 3px;
        border-color: #00ff9b;
    }

    .footer {
        display: flex;
        justify-content: space-between;
        padding: 1rem;
    }

    #logo {
        max-width: 400px;
    }

    #xumm {
        max-height: 600px;

    }

    .title {
        font-size: 10rem;
        padding-left: 3rem;
    }

    .bodytitle {
        font-size: 6rem;
    }

    .abouttitle {
        font-size: 2rem;
        color: #222323;
    }

    .abouttitledropdown:hover {
        cursor: pointer;
        background: linear-gradient(to top, azure, #00ff9b);
    }

    .applyform {
        width: 60vh;
    }

    .register {
        background-color: #222323;
        height: 100vh;
        justify-content: center;
    }

    .signup {
        vertical-align: middle;
    }

    .button {
        width: 300px;
        font-size: 2rem;
    }

}