<!DOCTYPE html>
<html lang="en">

<%- include('../about/partials/header.ejs') %>

    <body>
        <%- include('./partials/nav.ejs') %>
        <h2 class="textcenter" style="color: azure">Learn about the technologies being implemented into Volera</h2>
        <%- include('./partials/footer.ejs') %>
    </body>
</html>