<!DOCTYPE html>
<html lang="en">

<%- include('../about/partials/header.ejs') %>

    <body style="display:block;">
        <%- include('./partials/nav.ejs') %>
            <h2 class="abouttitle textcenter hidden" style="color:#00ff9b">Sign-In using xumm Wallet</h2>
            <div class="box hidden" style="display:flex;justify-items:center;">
            <button class="button" id="auth" style="margin:40px; height:200px;width:200px;"><p>Login</p></button>
            <button class="button" id="logout" style="margin:40px; height:200px;width:200px;"><p>Logout</p></button>
            </div>
            <br /><br />

            <script type="module">
                import 'https://xumm.app/assets/cdn/xumm-oauth2-pkce.min.js?v=2.7.1'

                const xumm = new XummPkce('3b6c02ae-9a0f-464b-a5b6-853af38688ca', {
                    implicit: true, // Implicit: allows to e.g. move from social browser to stock browser
                    redirectUrl: 'https://www.volera.io/development/signin' + '?custom_state=test'
                })

                document.getElementById('auth').onclick = () => {
                    xumm.authorize().catch(e => console.log('e', e))
                }

                document.getElementById('logout').onclick = () => {
                    xumm.logout()
                    document.getElementById('sub').innerText = '... (please sign in)'
                }

                xumm.on("error", (error) => {
                    console.log("error", error)
                })

                xumm.on("success", async () => {
                    const state = await xumm.state() // state.sdk = instance of https://www.npmjs.com/package/xumm-sdk
                    document.getElementById('sub').innerText = state?.me?.sub
                })

                xumm.on("retrieved", async () => {
                    console.log("Retrieved: from localStorage or mobile browser redirect")
                    const state = await xumm.state() // state.sdk = instance of https://www.npmjs.com/package/xumm-sdk
                    document.getElementById('sub').innerText = state?.me?.sub
                })
            </script>
        <%- include('./partials/footer.ejs') %>
    </body>
</html>