<!DOCTYPE html>
<html lang="en">

<%- include('../about/partials/header.ejs') %>
    <body style="display:block;">
        <%- include('./partials/nav.ejs') %>
        <form action = "/development/txhistory" method = "POST">
            <div class="container hidden">
                <label for="wallet"></label>
                <input type="text" id="wallet" placeholder="Your Wallet Address" name="wallet" required>             
            </div>
            <div class="container hidden">
                <button type="submit" value="Submit">Submit</button>               
            </div>
        </form>
        <% if (userMessage.length > 0) { %>
            <div class="usermessage" style="color:#00ff9b; border-color: #00ff9b;"><p><%- userMessage %></p>
            </div>
        <% } %>
        <%- include('./partials/footer.ejs') %>
    </body>
</html>