<!DOCTYPE html>
<html lang="en">
<%- include('./partials/header.ejs') %>

  <body>
    <%- include('./partials/nav.ejs') %>


      <div class="splashimage textcenter" id="azure">
        <% if (userMessage.length> 0) { %>
          <div class="usermessage">
            <p><%- userMessage %></p>
            <a href="/">
              <p style="color: #222323;"><b>Return Home</b></p>
            </a>
          </div>
          <% } %>

            <form action="/about/contact" method="POST">

              <label for="email">
                <h2 class="abouttitle hidden">Email</h2>
              </label>
              <input type="text" id="contact_email" name="contact_email" placeholder="Email.." maxlength="120">

              <label for="lname">
                <h2 class="abouttitle hidden">Subject</h2>
              </label>
              <input type="text" id="contact_subject" name="contact_subject" placeholder="Subject.." maxlength="250">

              <label for="subject">
                <h2 class="abouttitle hidden">Form</h2>
              </label>
              <textarea id="contact_form" name="contact_form" wrap="hard" placeholder="Question.."
                maxlength="1000"></textarea>

              <input type="submit" value="Submit">

            </form>

      </div>
      <%- include('./partials/footer.ejs') %>
  </body>

</html>