<div class="spacer"></div>
<section class="container hidden">
    <a href="#pagereturn" title="Return to Top of Page"><img src="/images/arrow.png" id="logo" style="height:200px;"></a>
</section>
<section>
    <div class="footer">
        <div class="boxfooter">
            <a href="signup"><h4 class="footertext">Sign Up</h4></a>
            <a href="about"><h4 class="footertext">FAQ</h4></a>
            <a href="contact"><h4 class="footertext">Get in Touch</h4></a>
        </div>
        <div class="boxfooter">
            <a href="https://twitter.com/voleraio" title="Follow Volera on Twitter" style="margin:40px;"> <h4 class="footertext textcenter">Twitter</h4></a>
            <h4 class="footertext">Terms & Conditions</h4>
        </div>
        <div class="boxfooter">   
            <a href="https://xumm.app/"><h4 class="footertext">xumm Wallet</h4></a>
            <a href="https://xrpl.org/"><h4 class="footertext">xrpl.org</h4></a>
        </div>
    </div>
</section>