<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Volera - Freelance Platform</title>
    <link rel="stylesheet" href="/css/about.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Anton|Cormorant+Garamond|Roboto">
    <link rel="icon" type="image/x-icon" href="images/favicon.ico">
    <script defer src="/animations.js"></script>
    <script src="https://xumm.app/assets/cdn/xumm-oauth2-pkce.min.js"></script>
</head>