<!DOCTYPE html>
<html lang="en">

<%- include('./partials/header.ejs') %>
<body>
    <section>
        <h4 class="hidden" is="accent" a href="/" style="display:flex;justify-content: center;">volera platform</h4></a>
    </section>    
    <h2 class="title textcenter" id="accent" style="margin:100px;">Currently Under Construction</h2>
    <%- include('../development/partials/footer.ejs') %>
</body>
</html>