<!DOCTYPE html>
<html lang="en">

<%- include('./partials/header.ejs') %>
<body class="platformbody">
    <section>
        <h4 class="hidden" is="accent" a href="FrontPage.html" style="position: fixed;">volera</h4></a>
        <div class="frontnavbox">
            <h2 class="frontnav hidden" id="accent"><a href="dashboard.html" id="accent">Profile</a></h2>
            <h2 class="frontnav hidden" id="accent"><a href="" id="accent">Wallet</a></h2>
            <h2 class="frontnav hidden" id="accent"><a href="" id="accent">Jobs</a></h2>
            <h2 class="frontnav hidden" id="accent"><a href="" id="accent">Freelancers</a></h2>
            <h2 class="frontnav hidden" id="accent"><a href="" id="accent">Industries</a></h2>
            <h2 class="frontnav hidden" id="accent"><a href="" id="accent">Organizations</a></h2>
        </div>
    </section>
    <div class="bottomfooter">
        <div class="footerobject">
            <h1 class="frontnav hidden" id="accent">Wallet</h1>
        </div>
        <div class="footerobject">
            <h1 class="frontnav hidden" id="accent">Messages</h1>
        </div>
        <div class="footerobject">
            <h1 class="frontnav hidden" id="accent">Active Jobs</h1>
        </div>
    </div>
    <section class="frontbody">   
        <h1 class="frontnav hidden" id="accent" style="font-size: 5rem; color: gold;">Categories</h1>
        <h2 class="frontnav hidden" id="accent" style="font-size: 3rem;">Translation</h2>
        <h2 class="frontnav hidden" id="accent" style="font-size: 3rem;">Creative</h2>
        <h2 class="frontnav hidden" id="accent" style="font-size: 3rem;">Marketing</h2>
        <h2 class="frontnav hidden" id="accent" style="font-size: 3rem;">Accounting</h2>
        <h2 class="frontnav hidden" id="accent" style="font-size: 3rem;">Software Development</h2>
        <h2 class="frontnav hidden" id="accent" style="font-size: 3rem;">Translation</h2>
        <h2 class="frontnav hidden" id="accent" style="font-size: 3rem;">Creative</h2>
        <h2 class="frontnav hidden" id="accent" style="font-size: 3rem;">Marketing</h2>   
    </section>  
    <section class="frontbody">
        <h1 class="fronttitle hidden textcenter" id="accent" style="color: gold; font-size: 5rem;">Software Development</h1>
        <input type="search" placeholder="Search Jobs.." style="justify-content: center;">
        <h4 class="fronttitle hidden textcenter" id="accent">1-x Jobs Displayed</h4>
        <div class="jobcard">
            <h2 class="frontnav hidden" style="color: azure;">Create a Website For A Company</h2>
            <p id="azuretext">1/1/2023</p>
            <p id="accent">Budget 10000$</p>
        </div>
        <div class="jobcard">
            <h2 class="frontnav hidden" style="color: azure;">Sample Job 1</h2>
            <p id="azuretext" style="font-size:1rem;">1/1/2023</p>
            <p id="accent">Budget 1000$</p>
        </div>
        <div class="jobcard">
            <h2 class="frontnav hidden" id="accent">
                Create a Website For A Company
            </h2>
            <p id="azuretext">1/1/2023</p>
            <p id="accent">Budget 10000$</p>
        </div>
        <div class="jobcard">
            <h2 class="frontnav hidden" id="accent">
                Create a Website For A Company
            </h2>
            <p id="azuretext">1/1/2023</p>
            <p id="accent">Budget 10000$</p>
        </div>
        <div class="jobcard">
            <h2 class="frontnav hidden" id="accent">
                Create a Website For A Company
            </h2>
            <p id="azuretext">1/1/2023</p>
            <p id="accent">Budget 10000$</p>
        </div>
        <div class="jobcard">
            <h2 class="frontnav hidden" id="accent">
                Create a Website For A Company
            </h2>
            <p id="azuretext">1/1/2023</p>
            <p id="accent">Budget 10000$</p>
        </div>
        <div class="jobcard">
            <h2 class="frontnav hidden" id="accent">
                Create a Website For A Company
            </h2>
            <p id="azuretext">1/1/2023</p>
            <p id="accent">Budget 10000$</p>
        </div>
        <div class="jobcard">
            <h2 class="frontnav hidden" id="accent">
                Create a Website For A Company
            </h2>
            <p id="azuretext">1/1/2023</p>
            <p id="accent">Budget 10000$</p>
        </div>
        <div class="jobcard">
            <h2 class="frontnav hidden" id="accent">
                Create a Website For A Company
            </h2>
            <p id="azuretext">1/1/2023</p>
            <p id="accent">Budget 10000$</p>
        </div>
        <div class="jobcard">
            <h2 class="frontnav hidden" id="accent">
                Create a Website For A Company
            </h2>
            <p id="azuretext">1/1/2023</p>
            <p id="accent">Budget 10000$</p>
        </div>
        <div class="jobcard">
            <h2 class="frontnav hidden" id="accent">
                Create a Website For A Company
            </h2>
            <p id="azuretext">1/1/2023</p>
            <p id="accent">Budget 10000$</p>
        </div>
        <div class="jobcard">
            <h2 class="frontnav hidden" id="accent">
                Create a Website For A Company
            </h2>
            <p id="azuretext">1/1/2023</p>
            <p id="accent">Budget 10000$</p>
        </div>
        <div class="jobcard">
            <h2 class="frontnav hidden" id="accent">
                Create a Website For A Company
            </h2>
            <p id="azuretext">1/1/2023</p>
            <p id="accent">Budget 10000$</p>
        </div>
        <div class="jobcard">
            <h2 class="frontnav hidden" id="accent">
                Create a Website For A Company
            </h2>
            <p id="azuretext">1/1/2023</p>
            <p id="accent">Budget 10000$</p>
        </div>
        <div class="jobcard">
            <h2 class="frontnav hidden" id="accent">
                Create a Website For A Company
            </h2>
            <p id="azuretext">1/1/2023</p>
            <p id="accent">Budget 10000$</p>
        </div>
        <div class="jobcard">
            <h2 class="frontnav hidden" id="accent">
                Create a Website For A Company
            </h2>
            <p id="azuretext">1/1/2023</p>
            <p id="accent">Budget 10000$</p>
        </div>
        <div class="jobcard">
            <h2 class="frontnav hidden" id="accent">
                Create a Website For A Company
            </h2>
            <p id="azuretext">1/1/2023</p>
            <p id="accent">Budget 10000$</p>
        </div>
        <div class="jobcard">
            <h2 class="frontnav hidden" id="accent">
                Create a Website For A Company
            </h2>
            <p id="azuretext">1/1/2023</p>
            <p id="accent">Budget 10000$</p>
        </div>
        <div class="jobcard">
            <h2 class="frontnav hidden" id="accent">
                Create a Website For A Company
            </h2>
            <p id="azuretext">1/1/2023</p>
            <p id="accent">Budget 10000$</p>
        </div>
        <div class="jobcard">
            <h2 class="frontnav hidden" id="accent">
                Create a Website For A Company
            </h2>
            <p id="azuretext">1/1/2023</p>
            <p id="accent">Budget 10000$</p>
        </div>
        <div class="jobcard">
            <h2 class="frontnav hidden" id="accent">
                Create a Website For A Company
            </h2>
            <p id="azuretext">1/1/2023</p>
            <p id="accent">Budget 10000$</p>
        </div>
    </section>
    <section class="frontbody">
        
            <h1 class="fronttitle hidden textcenter" id="accent" style="font-size: 5rem; color: gold;">Job Title</h1>
            <p id="azuretext">
                Here is the details about the job
            </p>
    </section>
</body>
</html>